In [2]:
'''
Question 1: What's the version of NumPy that you installed?
'''
import numpy as np
print(np.__version__)

1.21.5

In [5]:
!curl https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv -o data.csv

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 1440k  100 1440k    0     0  8233k      0 --:--:-- --:--:-- --:--:-- 8233k

In [64]:
import pandas as pd
df = pd.read_csv('data.csv')
# data = pd.read_csv("https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv")

In [11]:
df.describe()

,Year,Engine HP,Engine Cylinders,Number of Doors,highway MPG,city mpg,Popularity,MSRP
count,11914.000000,11845.00000,11884.000000,11908.000000,11914.000000,11914.000000,11914.000000,1.191400e+04
mean,2010.384338,249.38607,5.628829,3.436093,26.637485,19.733255,1554.911197,4.059474e+04
std,7.579740,109.19187,1.780559,0.881315,8.863001,8.987798,1441.855347,6.010910e+04
min,1990.000000,55.00000,0.000000,2.000000,12.000000,7.000000,2.000000,2.000000e+03
25%,2007.000000,170.00000,4.000000,2.000000,22.000000,16.000000,549.000000,2.100000e+04
50%,2015.000000,227.00000,6.000000,4.000000,26.000000,18.000000,1385.000000,2.999500e+04
75%,2016.000000,300.00000,6.000000,4.000000,30.000000,22.000000,2009.000000,4.223125e+04
max,2017.000000,1001.00000,16.000000,4.000000,354.000000,137.000000,5657.000000,2.065902e+06

In [12]:
'''
Question 2: How many records are in the dataset?
'''
len(df)

11914

In [13]:
df.head()

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500

In [34]:
'''
Question 3: Who are the most frequent car manufacturers (top-3) according to the dataset?
A: data['Make'].value_counts().head()
'''
df.groupby('Make')['Make'].count().reset_index(name='counts').sort_values('counts',ascending=False)['Make'].head(3).values

array(['Chevrolet', 'Ford', 'Volkswagen'], dtype=object)

In [36]:
'''
Question 4: What's the number of unique Audi car models in the dataset?
A: data[data['Make'] == 'Audi']['Model'].nunique()
'''
len(df[df['Make']=='Audi'])

328

In [43]:
'''
Question 5: How many columns in the dataset have missing values?
A: (data.isnull().sum() != 0).sum()
'''
columns_with_null = 0
print(df.columns)
for col in df.columns:
    if df[col].isnull().count() > 0:
        columns_with_null += 1
print(columns_with_null)

Index(['Make', 'Model', 'Year', 'Engine Fuel Type', 'Engine HP',
       'Engine Cylinders', 'Transmission Type', 'Driven_Wheels',
       'Number of Doors', 'Market Category', 'Vehicle Size', 'Vehicle Style',
       'highway MPG', 'city mpg', 'Popularity', 'MSRP'],
      dtype='object')
16

In [55]:
'''
Question 6

    Find the median value of "Engine Cylinders" column in the dataset.
    Next, calculate the most frequent value of the same "Engine Cylinders".
    Use the fillna method to fill the missing values in "Engine Cylinders" with the most frequent value from the previous step.
    Now, calculate the median value of "Engine Cylinders" once again.

'''
print(df['Engine Cylinders'].median())
print(df['Engine Cylinders'].mode().values[0])
df['Engine Cylinders'].fillna(df['Engine Cylinders'].mode().values[0], inplace=True)
print(df['Engine Cylinders'].median())

6.0
4.0
6.0

In [56]:
df['Engine Cylinders'].describe()

count    11914.000000
mean         5.624727
std          1.780189
min          0.000000
25%          4.000000
50%          6.000000
75%          6.000000
max         16.000000
Name: Engine Cylinders, dtype: float64

In [63]:
'''
Question 7

    Select all the "Lotus" cars from the dataset.
    Select only columns "Engine HP", "Engine Cylinders".
    Now drop all duplicated rows using drop_duplicates method (you should get a dataframe with 9 rows).
    Get the underlying NumPy array. Let's call it X.
    Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
    Compute the inverse of XTX.
    Create an array y with values [1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800].
    Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
    What's the value of the first element of w?
    
Partial A: XTX = X.T @ X
'''
X = df[df['Make'] == 'Lotus'][['Engine HP', 'Engine Cylinders']].drop_duplicates().values
XTX = np.dot(X.T, X)
XTX_inv = np.linalg.inv(XTX)
y = np.array([1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800])
w = np.dot(np.dot(XTX_inv, X.T),y)
print(w[0])

4.594944810094579